In [1]:
print('Hello World!')

Hello World!

In [15]:
#Comma at the end will  not print new line
print('hello', 'there')

hello there

In [19]:
#Variables
x= 10
print(x)
print(type(x))

10
<class 'int'>

In [10]:
#Operators
2 == 3
2+True
'Hello ' + str(3)

'Hello 3'

In [45]:
#Arithmatic Operators
a = 10
print("a={}".format(a))
a+= 1
print("a={}".format(a))
a-=1
print("a={}".format(a))
b= a+1
print("a={} b= {}".format(a, b))
c= a-1
print("a={} c = {}".format(a, c))
d= a*2
print("a={} d = {}".format(a, d))
e=a/2
print("a={} e = {}".format(a, e))
f= a%3
print("a={} f = {}".format(a, f))
g= a**2
print("a={} g = {}".format(a, g))

a=10
a=11
a=10
a=10 b= 11
a=10 c = 9
a=10 d = 20
a=10 e = 5.0
a=10 f = 1
a=10 g = 100

In [36]:
#String Operations
#String Concatenation using +

print("Hello " + 'World')

#Substirng
print("Hello World"[0:5])
print("Hello Class"[6:])
print("123456789"[-1])

Hello World
Hello
Class
9

In [24]:
#Numbers are immutable
x = 4.5
y = x

print(x,y)

y += 3
print(x,y)

4.5 4.5
4.5 7.5

In [28]:
#String Literals
print('I am a string')
print("So am I")
print(""" I am a big
string with new lines
""")

I am a string
So am I
 I am a big
string with new lines

In [38]:
#Formating and Place Holders
print("One, %d, three"%2)
print("%d, two, %s"%(1,3))

One, 2, three
1, two, 3

In [40]:
#Pass keyword : Syntactic filler, does nothing

while 1:
    pass
    break

In [47]:
#logical operators

a = True
b = 1
c = False


#logical And
print(a and b)

#Logical or
print(a or b)

#logical negation
print(not a)

#Compound
print(a and not(b or c))

1
True
False
False

In [51]:
#Arithmatic comparision

a > b
a >= b
a < b
a <= b

#Equlaity/Difference
a == b
a != b

False

In [12]:
#Function
def foo(bar):
    return bar

In [13]:
print(foo(10))

10

In [14]:
print(foo('hello'))

hello

In [54]:
#Class declaration
class User(object):
    pass

#Object creation
x = User()
print(x)
print(type(x))

<__main__.User object at 0x065EC8E0>
<class '__main__.User'>

In [65]:
#Class declaration
#Check Python constructor

class User(object):
    name = None
    is_staff = False    
    
    def _init_(self, name = 'Anonymous'):
        self.name = name
        super(User, self)._init_()
    def is_authorized(self):
        return self.is_staff

In [67]:
anonymous = User()
print(anonymous.name)
print(anonymous.is_authorized())

None
False

In [82]:
#Imports to import libraary
import datetime

datetime.datetime.today().strftime("%Y-%m-%d %H:%M:%S")

'2020-12-21 20:06:52'

In [86]:
#Error Handeling
import datetime
import random

#Gets random value from the list
day = random.choice(['TwentyTwo', 21])

try:
    date = 'December ' + day
except TypeError:
    print('Type Error')
    date = datetime.date(2020,12,day)
else:
    date += ' 2020'
finally:
    print(date)

December TwentyTwo 2020

In [100]:
#Lists
x = [1,'hello', 2+3j, 3+4j]
print(x)
print(x[0:2])

[1, 'hello', (2+3j), (3+4j)]
[1, 'hello']

In [101]:
#List methods and List manipulations
print(x)
x[2] = 'Eggs'
x.append('Apple')
x.remove(x[3])
print(x)

[1, 'hello', (2+3j), (3+4j)]
[1, 'hello', 'Eggs', 'Apple']

In [105]:
#String oiperator in, not in

if 'Br' in 'Brother' :
    print ("Contains brother")
    
if 'she' not in 'Brother' :
    print ("Not contains she")

Contains brother
Not contains she

In [114]:
print("Sudhansu".upper())
print("Sudhansu".lower())
print('    text with leading and trailling space trimmed  '.strip())
print('    text with leading space untrimmed '.rstrip())

SUDHANSU
sudhansu
text with leading and trailling space trimmed
    text with leading space untrimmed

In [117]:
#Function within/inside functions
def foo(x,y):
    def bar(z):
        return z*2
    return bar(x)+y

foo(2,3)

7

In [119]:
#Functions returning functions
def foo(x):
    def bar(y):
        return x+y
    return bar


#main 

f = foo(3)
print(f)
print(f(2))

<function foo.<locals>.bar at 0x067D27C0>
5

In [123]:
#Functions with default parameters
def foo(x = 5):
    print(x)
    
foo(10)
foo()

10
5

In [126]:
#Named parameter
def foo(a,b,c):
    print(a,b,c)
    
foo(30, c= 40, b = 50)

30 50 40

In [127]:
import pandas as pd

In [1]:
a = 10
print(id(a))
b= 10
print(id(b))

1730406464
1730406464

In [2]:
b = 20
print(id(a))
print(id(b))

1730406464
1730406624